.cardAreaHeader {
    text-align: center
}
  
.midCard {
    flex-grow: 2; 
    height:200px;
    background-color: yellow;
}

.downCard {
    flex-grow: 6; 
    height:300px;
}

.topCard {
    flex-grow: 6;
}